- title "Contacts"
- sidebar_msg "These are your contacts.  Click on a contact to view, edit, or delete the contact."
- content_for :sidebar_lnks do
  %ul
    %li= link_to "Add contact", new_contact_path

= render :partial => "shared/logo"
= render :partial => "shared/menu"

#page
  = render :partial => "shared/sidebar"

  #content
    %h2 Your Contact List
    %table(cellspacing="0" cellpadding="1" class="listable")
      %tr
        %th Name
        %th Phone
        %th E-mail
      - @contacts.each do |contact|
        %tr
          %td= h contact.c_fname + " " +  contact.c_mname + " " + contact.c_lname
          %td= h contact.user_id 
          %td= link_to 'Show', contact
          %td= link_to 'Edit', edit_contact_path(contact) 
          %td= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete

= render :partial => "shared/timeline"