- title "Contacts"
- sidebar_msg "These are your contacts.  Click on a contact to view, edit, or delete the contact."
- content_for :sidebar_lnks do
  %ul
    %li= link_to "Add contact", new_contact_path

= render :partial => "shared/logo"
= render :partial => "shared/menu"

#page
  = render :partial => "shared/sidebar"

  #content
    %h2 Your Contact List
    %table.listable(cellspacing="0" cellpadding="1")
      %tr
        %th Name
      - @contacts.each do |contact|
        %tr
          %td= link_to "#{h(contact.c_fname) +' ' + h(contact.c_mname) + ' ' + h(contact.c_lname)}", contact

= render :partial => "shared/timeline"