- title "Add Contact"
- sidebar_msg "Add a contact to your contact list by filling in the fields to the right."


= render :partial => "shared/logo"
= render :partial => "shared/menu"

#page
  = render :partial => "shared/sidebar"
  #content
    - form_for(@contact) do |f|
      %fieldset
        %legend Add Contact
        - f.error_messages
        .inputGroup
          = f.label :c_fname, "First name:"
          = f.text_field :c_fname
        .inputGroup
          = f.label :c_mname, "Middle name:"
          = f.text_field :c_mname
        .inputGroup
          = f.label :c_lname, "Last name:"
          = f.text_field :c_lname
        %input(id="contact_user" name="contact[user_id]" type="hidden" value="#{current_user.id}")
        = f.submit 'Create'

= render :partial => "shared/timeline"