<h1>New contact</h1>

<% form_for(@contact) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :c_fname %><br />
    <%= f.text_field :c_fname %>
  </p>
  <p>
    <%= f.label :c_mname %><br />
    <%= f.text_field :c_mname %>
  </p>
  <p>
    <%= f.label :c_lname %><br />
    <%= f.text_field :c_lname %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', contacts_path %>