<p>
  <b>C fname:</b>
  <%=h @contact.c_fname %>
</p>

<p>
  <b>C mname:</b>
  <%=h @contact.c_mname %>
</p>

<p>
  <b>C lname:</b>
  <%=h @contact.c_lname %>
</p>

<p>
  <b>User:</b>
  <%=h @contact.user %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>